<div class="main">
    <div *ngIf="promotionDialogVisible" style="display: flex;">
        <button type="button" (click)="promoteQueen()" class="wq promotion">quen</button>
        <button type="button" (click)="promoteRook()" class="wr promotion">rok</button>
        <button type="button" (click)="promoteBishop()" class="wb promotion">shup</button>
        <button type="button" (click)="promoteKnight()" class="wn promotion">knight</button>
    </div>
    <div class="board" appDisableRightClick>
        <div *ngFor="let piece of pieces" [ngClass]="piece[1]"
        cdkDrag
        cdkDragBoundary=".board"
        (cdkDragEnded)="releasePiece($event)"
        (cdkDragStarted)="getPiece($event)"
        [cdkDragFreeDragPosition]="piece[2]"></div>
        <div *ngFor="let move of possibleMoves" [ngClass]="move"></div>
    </div>

</div>