<nav class="mast flex-container">
  <div class="logo-container">
    <a id="logo" mat-button routerLink="home"></a>
  </div>
  <div id="menu">
    <ul>
      <a mat-button routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a mat-button [routerLink]="['/profile', user ? user.username : null]" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
      <a mat-button routerLink="matchmaking" routerLinkActive="active" ariaCurrentWhenActive="page">Find Match</a>

    </ul>
  </div>
  <div class="authentication-buttons" *ngIf="!user">
    <a mat-button routerLink="login" ariaCurrentWhenActive="page">Login</a>
    <a mat-button routerLink="register" ariaCurrentWhenActive="page">Register</a>
  </div>
  <div *ngIf="user" id="logged-user-card">
    <div class="user-data"><a [routerLink]="['/profile',user.username]">{{user.username}}</a></div>
    <button mat-fab type="button" id="logout-button" (click)="logout()"></button>
  </div>
 

</nav>