<nav class="mast flex-container">
  <div id="nav-logo">Logo</div>
  <div id="menu">
    <ul>
      <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a routerLink="profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
      <a routerLink="matchmaking" routerLinkActive="active" ariaCurrentWhenActive="page">Find Match</a>
      <div class="authentication-buttons" *ngIf="!user">
        <a routerLink="login" ariaCurrentWhenActive="page">Login</a>
        <a routerLink="register" ariaCurrentWhenActive="page">Register</a>
      </div>
    </ul>
  </div>
  <div *ngIf="user" id="logged-user-info">
    Logged in as: <a [routerLink]="['/profile',user.username]">{{user.username}}</a><br> {{user.id}}
    <button type="button" (click)="logout()">Logout</button>
  </div>
</nav>