div {
    color: white;
}

a {
    padding: 10px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}

.card:hover {
    background-color: #6A0DAD;
}

.card{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    font-size: 2em;
    background-color: rgb(55, 55, 55);
}

#home {
    padding: 20px;
    width: 100%;
    display: flex;
}
.list {
    background-color: rgb(37, 37, 37);
    margin: 0 auto;
    height: fit-content;
    outline-style: solid;
    outline-color: #6A0DAD;;
    outline-width: 5px;
    width: 40%;
    padding: 5px;
}

.list-title {
    padding: 5px;
    font-size: 2em;
    text-align: center;
}