$piece-size: 12.5%;

:host {
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgb(9, 153, 33);
}

.wp {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Chess_plt45.svg/1024px-Chess_plt45.svg.png");
}

.wr {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Chess_rlt45.svg/1024px-Chess_rlt45.svg.png");
}

.wk {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Chess_klt45.svg/1920px-Chess_klt45.svg.png");
}

.wn {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Chess_nlt45.svg/1024px-Chess_nlt45.svg.png");
}

.wb {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Chess_blt45.svg/1024px-Chess_blt45.svg.png");
}

.wq {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Chess_qlt45.svg/1024px-Chess_qlt45.svg.png");
}

.bp {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Chess_pdt45.svg/1024px-Chess_pdt45.svg.png");
}

.br {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Chess_rdt45.svg/1024px-Chess_rdt45.svg.png");
}

.bk {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Chess_kdt45.svg/1024px-Chess_kdt45.svg.png");
}

.bn {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Chess_ndt45.svg/1024px-Chess_ndt45.svg.png");
}

.bb {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Chess_bdt45.svg/1024px-Chess_bdt45.svg.png");
}

.bq {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Chess_qdt45.svg/1024px-Chess_qdt45.svg.png");
}

.board {
    display: block;
    background-image: url("https://www.chess.com/boards/green/150.png");
    background-size: cover;
    width: 800px;
    height: 800px;
    position: relative;
}

.piece {
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    position: absolute;
   
}

button{
    width: 100px;
    height: 100px;
}

.row0 {
    bottom:$piece-size * 0;
}

.row1 {
    bottom:$piece-size * 1;
}

.row2 {
    bottom:$piece-size * 2;
}

.row3 {
    bottom:$piece-size * 3;
}

.row4 {
    bottom:$piece-size * 4;
}

.row5 {
    bottom:$piece-size * 5;
}

.row6 {
    bottom:$piece-size * 6;
}

.row7 {
    bottom:$piece-size * 7;
}

.col0 {
    left:$piece-size * 0;
}

.col1 {
    left:$piece-size * 1;
}

.col2 {
    left:$piece-size * 2;
}

.col3 {
    left:$piece-size * 3;
}

.col4 {
    left:$piece-size * 4;
}

.col5 {
    left:$piece-size * 5;
}

.col6 {
    left:$piece-size * 6;
}

.col7 {
    left:$piece-size * 7;
}


.row0.inverted {
    bottom:$piece-size * 7;
}

.row1.inverted {
    bottom:$piece-size * 6;
}

.row2.inverted{
    bottom:$piece-size * 5;
}

.row3.inverted {
    bottom:$piece-size * 4;
}

.row4.inverted {
    bottom:$piece-size * 3;
}

.row5.inverted{
    bottom:$piece-size * 2;
}

.row6.inverted{
    bottom:$piece-size * 1;
}

.row7.inverted{
    bottom:$piece-size * 0;
}

.col0.inverted {
    left:$piece-size * 7;
}

.col1.inverted {
    left:$piece-size * 6;
}

.col2.inverted {
    left:$piece-size * 5;
}

.col3.inverted {
    left:$piece-size * 4;
}

.col4.inverted {
    left:$piece-size * 3;
}

.col5.inverted {
    left:$piece-size * 2;
}

.col6.inverted {
    left:$piece-size * 1;
}

.col7.inverted {
    left:$piece-size * 0;
}

