.form {
    border-radius: 10px;
    color: white;
    width: 25%;
    min-width: 400px;
    margin: 10% auto;
    display: block;
    background-color: rgb(51, 51, 51);
    padding: 1.5em;
    word-wrap: break-word;
}

#btn {
    background-color: #6A0DAD;
    width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
}

::ng-deep.mat-form-field-underline {
    background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: white !important;
}

mat-form-field {
    padding: 5px;
    width: 100%;
}

input {
    border-radius: 5px;
    display: table-row;
    color: black;
    background-color: rgb(255, 255, 255);
}

.error {
    outline-style: solid;
    outline-width: 2px;
    outline-color: red;
}

.text-field {
    padding: 5px;
    font-size: 1.5em;
}

label {
    display: table-row;
}


small {
    margin-top: 0px;
    color: red;
}

::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1em;
 }

