<div class="user-card">
    <h2>Username: {{user.username}}</h2>
    <h2>Email: {{user.email}}</h2>
    <h2>Rating: {{user.rating}}</h2>
    <h2>Date: {{user.creationDate | date : 'medium'}}</h2>
</div>
<div class="games">

    <a [routerLink]="['/analysis', game.id]" *ngFor="let game of pastGames | async">
        <div class="game-card">
            <h3>{{game.id}}</h3>
            <h2>Game result: {{game.result}}</h2>
            <h2>Date: {{game.date | date : 'medium'}}</h2>
            <h2><a [routerLink]="['/profile', game.white_player.username]">{{game.white_player.username}}</a>
                ({{game.white_player.rating}}) vs <a
                    [routerLink]="['/profile', game.black_player.username]">{{game.black_player.username}}</a>
                ({{game.black_player.rating}})</h2>
        </div>
    </a>

</div>